<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycabbages.teamavatar.ido">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- LOGIN SIGNUP ACTIVITY -->
        <activity android:name=".LoginSignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!-- ADD ITEM ACTIVITY -->
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycabbages.teamavatar.ido.MainActivity" />
        </activity>

        <!-- NEW ITEM ACTIVITY -->
        <activity
            android:name=".NewItemActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CHANGE ITEM ACTIVITY -->
        <activity
            android:name=".ChangeItemActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- USER LIST ACTIVITY -->
        <activity android:name=".UserListActivity" />

        <!-- NOTIF SETTINGS ACTIVITY -->
        <activity
            android:name=".NotifSettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.mycabbages.teamavatar.ido.MainActivity" />

        <receiver android:name=".AlertReceiver"/>

    </application>

</manifest>